@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateX(-20px);
  filter: blur(6px);
  transition: all 0.8s ease-out;
}

.reveal.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.reveal.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal-delay-1 {
  transition-delay: 0.1s;
}

.reveal-delay-2 {
  transition-delay: 0.25s;
}

.reveal-delay-3 {
  transition-delay: 0.4s;
}
.reveal-delay-4 {
  transition-delay: 0.55s;
}